name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          # note: https://www.azul.com/products/core/openjdk-terms-of-use/
          distribution: 'zulu'
          cache: maven

      - name: Build with Maven
        # enable parallel build
        run: mvn -T 4 -B package --file pom.xml

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        if: success()
        with:
          name: lunachat-${{ github.sha }}
          path: target/LunaChat.jar
          retention-days: 7
